name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install deps
      run: sudo apt-get install xorg openbox

    - name: construct build system
      run: cmake -B build
      
    - name: build
      run: cmake --build build
